
<button type="button" class="badge bg-secondary float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">?</button>
<h1 class="my-5">Hill power</h1>
<div class="row">
  <div class="mb-3 col-12 col-md-12 col-lg-6">
    <label for="hillGrade" class="form-label">Hill grade</label>
    <div class="input-group">
      <input type="number" min="0" max="35" step="0.5" class="form-control" id="hillGrade" [formControl]="hillGrade" aria-describedby="hillGrade">
      <span class="input-group-text">&percnt;</span>
    </div>
  </div>
  <div class="mb-3 col-12 col-md-6 col-lg-6">
    <label for="weight" class="form-label">Weight</label>
    <div class="input-group">
      <input type="number" min="100" max="5000" class="form-control" id="weight" [formControl]="weight">
      <span class="input-group-text">kg</span>
    </div>
  </div>
  <div class="mb-3 col-12 col-md-6 col-lg-4">
    <label for="cda" class="form-label">CdA</label>
    <div class="input-group">
      <input type="number" min="0" max="1" step="0.05" class="form-control" id="cda" [formControl]="cda">
    </div>
  </div>
  <div class="mb-3 col-12 col-md-6 col-lg-4">
    <label for="wheelRadius" class="form-label">Speed</label>
    <div class="input-group">
      <input type="number" min="10" max="150" step="5" class="form-control" id="wheelRadius" [formControl]="speedKmh">
      <span class="input-group-text">km/h</span>
    </div>
  </div>
  <div class="mb-3 col-12 col-md-6 col-lg-4">
    <label for="torque" class="form-label">Torque</label>
    <div class="input-group">
      <input type="number" min="50" max="200" step="10" class="form-control" id="torque" [formControl]="torque">
      <span class="input-group-text">Nm</span>
    </div>
  </div>

</div>
<div class="row my-5">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Speed <sup>(m/s)</sup></th>
      <th scope="col">Climb</th>
      <th scope="col">Power</th>
      <th scope="col" class="d-none d-lg-table-cell">Aero drag</th>
      <th scope="col" class="d-none d-lg-table-cell">Roll drag</th>
      <th scope="col">Total power</th>
      <th scope="col">RPM</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ speed | number:'1.1-2' }}</td>
      <td>{{ climb | number:'1.1-2' }}</td>
      <td>{{ power | number:'1.1-2' }}</td>
      <td class="d-none d-lg-table-cell">{{ aero_drag | number:'1.1-2' }}</td>
      <td class="d-none d-lg-table-cell">{{ roll_drag | number:'1.1-2' }}</td>
      <td>{{ total_power | number:'1.1-2' }}</td>
      <th>{{ rpm | number:'1.0-0' }}</th>
    </tr>
    </tbody>
  </table>
</div>

<!-- about modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">About</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>This is a simple calculation for something something electric car hill climbing.</p>
        <p>It was bodged together by <a href="https://github.com/mkorbar">Matej</a>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
